
body{
    background-image: linear-gradient(pink,violet,rgb(202, 36, 202),rgb(174, 0, 255));
    height:1100px;
}

.container{

}

.head{
    display:flex;
    justify-content:space-between;
}

.topside{
    width:120px;
    border:1px solid black;
    height:60px;
    margin:20px;
    border-radius:20px;
    background-color:pink;
}


.loginn{
    display:flex;
    align-items:center;
    justify-content: center;
    width:120px;
    height:60px;
    background-color:pink;
    margin:20px;
    border:2px solid black;
    border-radius:20px;
    text-decoration: none;
    
}
.another{
    display:flex;
    height:60px;
    width:120px;
    justify-content:center;
    align-items:center;
    text-decoration: none;
    color:black;


}

.headi{
    
    display:flex;
    justify-self:center;
    justify-content:center;
    width:500px;
    height:200px;
    margin:20px;
    margin-bottom:30px;
    background-color:white;
    border:2px solid pink;
    border-radius:20px;
}

.center{
    display:flex;
    justify-content:space-between;
}

.lead{
    display:flex;
    flex-direction: column;
    align-content:center;
    color:white;
    height:800px;
    width:450px;
    background-color:rgb(105, 23, 199);
    border:7px solid white;
    border-radius:40px;
}
.rank{
    display:flex;
    align-items:center;


    width:440px;
    height:485px;
    border:7px solid white;
    border-radius:50px;
    background-color:rgb(225, 166, 243);
    font-size:40px;
    /* justify-content:center; */
    

    .img{
        border-radius:50px;
        border:6px solid white;
        background-color:white;
        width:86px;
        height:88px;
        margin-right:10px;
    }
    
}



.main{
    display:flex;
    justify-self:center;
    justify-content: center;
    padding:20px;
    width:1000px;
    background-color:white;
    border-radius:20px;
    font-size:30px;
}
.her{
    display:flex;
    
    align-items:center;
    border-radius:50px;
    border:5px solid pink;
    width:700px;
    height:80px;
    padding-left:10px;
    
    
}
.users{
    justify-self:center;
    color:grey;
    padding-left:10px;
    border-bottom:1px solid black;
    width:450px;
}
.frm{
    display:flex;
    padding-left:10px;
    align-items:center;
    border-radius:50px;
    
    width:500px;
    height:80px;
}
.ye{
    display:flex;
    align-items:center;
    justify-self:center;
}
.search{
    border:4px solid pink;
    height:40px;
    width:400px;
    border-radius:50px;
    font-size:30px;
    padding:10px;
    margin-right:10px;
    
}
.submit{
    
    
    background-color:white;
    margin-right:10px;
    width:100px;
    height:20px;
}








.side{
    width:450px;
    background-color:rgb(105, 23, 199);
    border-radius:20px;
    border:7px solid white;

}